JWT_SECRET=  # str

POSTGRES_DATABASE="aqua"  # str
POSTGRES_USERNAME="aqua"  # str
POSTGRES_PASSWORD="aqua"  # str
POSTGRES_HOST="localhost"  # str
POSTGRES_PORT=5432  # int
POSTGRES_ECHO=false  # bool
