$neutral-color: #6695ff;

$weak-neutral-color: #7daaf8;
$weak-content-color: #f5f8fc;

$default-interaction-color: #323334;
$default-interaction-bordering-color: #545555;
$default-non-interaction-color: #e9e9e9;

$ok-color: #55e885;
$ok-content-color: #f5fcf6;
$ok-bordering-color: #52e883;
$ok-non-interaction-color: #baf4cd;

$bad-color: #fa4956;
$bad-content-color: #f9f4f4;
$bad-non-interaction-bordering-color: #fe6974;
