@import "../common/base";
@import "../common/forms";
@import "../common/notifications";

#authorization-icon {
  @include horizontally-centered;
  position: relative;
  margin-bottom: 10px;
  margin-top: 20px;
}

#registration-link {
  position: relative;
  right: -27px;
  bottom: -5px;
}
